{% macro display_menu_item(item, loop) %}

    {# Define the list item class #}
    {% set li_class = 'index-'~loop.index %}
    {% if loop.first %}
        {% set li_class = li_class~' first ' %}
    {% endif %}
    {% if item|current %}
        {% set li_class = li_class~' current ' %}
    {% endif %}
    {% if loop.last %}
        {% set li_class = li_class~' last ' %}
    {% endif %}

    {# Define the anchor link class #}
    {% set a_class = '' %}
    {% if item|current %}
        {% set a_class = 'current' %}
    {% endif %}
    {% if item.class is defined %}
        {% set a_class = 'current' ~ item.class %}
    {% endif %}

    <li class="{{ li_class }}">
        <a href="{{ item.link }}"
           {% if item.title is defined %}title="{{ item.title|escape }}"{% endif %}
           class="{{ a_class }}">{{item.label}}</a>

        {% if item.submenu is defined %}
            <ul class="sub-menu">
                {% for submenu in item.submenu %}
                    {{ _self.display_menu_item(submenu, loop) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>

{% endmacro %}

<nav class="pure-menu pure-menu-open {{name}}">
    <ul>
    {% for item in menu %}
        {{ _self.display_menu_item(item, loop) }}
    {% endfor %}
    </ul>
</nav>
